In [5]:
type('123.45')

str

In [6]:
type(123.45)

float

In [7]:
type(123)

int

In [8]:
x = 123
y = 123.45
z = '123.45'
print(x,y,z)
print(type(x),type(y),type(z))

123 123.45 123.45
<class 'int'> <class 'float'> <class 'str'>

In [9]:
sign_up = True
print(type(sign_up))

<class 'bool'>

In [20]:
x = 123
y = 123.45
z = 'The result of ' + str(x) + " + " + str(y) + " = " + str(x+y)
print(type(y))
print(type(str(y)))
print('z')

<class 'float'>
<class 'str'>
z

In [17]:
x = 10
y = 3
z = x // y
print (z)

0

In [28]:
z = "I am;from CUHK."
print(z[0:4])

I am

In [31]:
z = "I am from CUHK."
print(z[0:15])

I am from CUHK.

In [32]:
z = "I am from CUHK."
print(len(z))

15

In [33]:
famous_person = "Prince Charles"
print(famous_person)
famous_person2 = famous_person.replace("Charles","Harry")
print(famous_person, famous_person2)

Prince Charles
Prince Charles Prince Harry

In [43]:
name = "Prince Charles"
print(name)
name = name.replace("Charles","William")
name = name.upper()
print(name)
print(name.find("Charles"))
print(name.find("WILLIAM"))

Prince Charles
PRINCE WILLIAM
-1
7

In [35]:
txt = "Hello, welcome to my world."
x = txt.index("welcome")
print(x)

7

In [36]:
txt = "Hello, welcome to my world."

x = txt.index("e")

print(x)

1

In [40]:
y= 'my name is ariel'
x = y.upper()
print(x)

MY NAME IS ARIEL

In [45]:
tuple1 = (1, 1.3,2,'CUHK')
print(tuple1)
list1 = [1,1.3,2,'CUHK']
print(list1)

(1, 1.3, 2, 'CUHK')
[1, 1.3, 2, 'CUHK']

In [52]:
my_list = [1,2,3,4,5,2.5]
print(sorted(my_list))
print(my_list)

[1, 2, 2.5, 3, 4, 5]
[1, 2, 3, 4, 5, 2.5]

In [49]:
my_list = [1,2,3,4,5,2.5]
my_list = my_list + [6,7,8]
print(my_list)

[1, 2, 3, 4, 5, 2.5, 6, 7, 8]

In [67]:
my_list = [1,2,3,4,5,2.5]
my_list.append([9,10,11])
print(my_list)
del(my_list[6])
print(my_list)

[1, 2, 3, 4, 5, 2.5, [9, 10, 11]]
[1, 2, 3, 4, 5, 2.5]

In [75]:
example1 = ['Ariel',1001,90]
example2 = ['Bruce',1002,89]
example3 = []
example3.append(example1)
example3.append(example2)
print(example3)

[['Ariel', 1001, 90], ['Bruce', 1002, 89]]

In [84]:
example4 = ['Mary',91]
student_list = []
student_list.append(example3)
student_list.append(example4)
print(student_list)

[[['Ariel', 1001, 90], ['Bruce', 1002, 89]], ['Mary', 91]]

In [89]:
score_list = [100,95,85,60,60.5,70]
print(score_list)
print(score_list[3])
score_list.append([50,45,65,55])
print(score_list)
del(score_list[6])
print(score_list[3:7])
print(score_list)
score_list.append([1,2,3,"I am from CUHK.",True])
print(score_list)
second_list = [11,22,33]
second_list.append([44,55,66])
score_list.append(second_list)
print(score_list)

[100, 95, 85, 60, 60.5, 70]
60
[100, 95, 85, 60, 60.5, 70, [50, 45, 65, 55]]
[60, 60.5, 70]
[100, 95, 85, 60, 60.5, 70]
[100, 95, 85, 60, 60.5, 70, [1, 2, 3, 'I am from CUHK.', True]]
[100, 95, 85, 60, 60.5, 70, [1, 2, 3, 'I am from CUHK.', True], [11, 22, 33, [44, 55, 66]]]

In [90]:
dict1 = {'Peter':80,"David":90,"Mary":100}
print(dict1)
print(dict1.keys())
print(dict1.values())
print(dict1["David"])
scorelist = []
scorelist.append(dict1)
print(scorelist)

{'Peter': 80, 'David': 90, 'Mary': 100}
dict_keys(['Peter', 'David', 'Mary'])
dict_values([80, 90, 100])
90
[{'Peter': 80, 'David': 90, 'Mary': 100}]

In [91]:
test1 = {"Peter":50,"David":60,"Mary":70}
assignment1 = {"Peter":50,"David":70,"Mary":80}
score_list = []
score_list.append(test1)
score_list.append(assignment1)
print(score_list)

[{'Peter': 50, 'David': 60, 'Mary': 70}, {'Peter': 50, 'David': 70, 'Mary': 80}]

In [92]:
scorelist = []
test1 = {"Peter":50,"David":60,"Mary":65,"Harry":80}
test2 = {"Peter":90,"David":90,"Mary":85,"Harry":70}
scorelist.append(test1)
scorelist.append(test2)
print(scorelist)

[{'Peter': 50, 'David': 60, 'Mary': 65, 'Harry': 80}, {'Peter': 90, 'David': 90, 'Mary': 85, 'Harry': 70}]

In [100]:
hrs_list = [30.0,40.0,50.0,60.0]
rate_list = [65.0,75.0,65.0,75.0]
name_list = ['John',"Mike","Mary","Jane"]
index = 0
fee_list = []
for number in name_list:
    hrs = hrs_list[index]
    rate = rate_list[index]
    fee = hrs * rate
    fee_list.append(fee)
    money_made = name_list[index] + " makes " + str(fee) + "."
    print(money_made)
    index = index + 1
    money_list = []
    money_list.append(name_list)
    money_list.append(fee_list)
    print(money_list)

John makes 1950.0.
[['John', 'Mike', 'Mary', 'Jane'], [1950.0]]
Mike makes 3000.0.
[['John', 'Mike', 'Mary', 'Jane'], [1950.0, 3000.0]]
Mary makes 3250.0.
[['John', 'Mike', 'Mary', 'Jane'], [1950.0, 3000.0, 3250.0]]
Jane makes 4500.0.
[['John', 'Mike', 'Mary', 'Jane'], [1950.0, 3000.0, 3250.0, 4500.0]]

In [105]:
hrs_list = [30.0,40.0,50.0,60.0]
rate_list = [65.0,75.0,65.0,75.0]
name_list = ['John',"Mike","Mary","Jane"]
hrs = {"John":30.0,"Mike":40,"Mary":50,"Jane":60}
rates = {"John":65.0,"Mike":75.0,"Mary":65.0,"Jane":75.0}
for i in name_list:
    fees = hrs[i]* rates[i]
    make_money = "makes " + str(fees) + "."
    print(i,make_money)

John makes 1950.0.
Mike makes 3000.0.
Mary makes 3250.0.
Jane makes 4500.0.

In [111]:
my_list = ['red','green','blue','orange','black']
index = 0
for i in my_list:
    if i == 'blue':
        print(index, "Blue is printed.")
        index += 1
    else:
        print(index, my_list[index])
        # index += 1
        index = index + 1
print("This is done.")

0 red
1 green
2 Blue is printed.
3 orange
4 black
This is done.

In [151]:
name_list = ['John',"Mike","Mary","Jane"]
hrs = {"John":30.0,"Mike":40,"Mary":50,"Jane":60}
rates = {"John":65.0,"Mike":75.0,"Mary":65.0,"Jane":75.0}
less_than_3200 = False
greater_equal_3200 = False
for i in name_list:
    fees = hrs[i]* rates[i]
    make_money = " makes " + str(fees) + "."
    if (fees < 3200.0):
        if (less_than_3200 == False):
            print("Less than 3200")
            less_than_3200 = True
        print(" ",i,make_money)
    else:
        if (greater_equal_3200 == False):
            print("More than or equal to 3200")
            greater_equal_3200 = True
        print(" ",i,make_money)

Less than 3200
  John  makes 1950.0.
  Mike  makes 3000.0.
More than or equal to 3200
  Mary  makes 3250.0.
  Jane  makes 4500.0.

In [127]:
def x_plus_y(x,y):
    z = x + y
    return z
print(x_plus_y(20,30))

50

In [131]:
def compute_ta_fees(hrs,rate,name):
    fee = hrs*rate
    money_to_mom = fee*.2
    return name + "'s mom has received $" + str(money_to_mom) + "."
# print ta_fees
hrs_list = [30.0,40.0,50.0,60.0]
rate_list = [65.0,75.0,65.0,75.0]
name_list = ['John',"Mike","Mary","Jane"]
index = 0
output_list = []
for number in name_list:
    hrs = hrs_list[index]
    rate = rate_list[index]
    name = name_list[index]
    ta_fees = compute_ta_fees(hrs,rate,name)
    print(ta_fees)
    output_list.append(ta_fees)
    index = index + 1
print(output_list)

John's mom has received $390.0.
Mike's mom has received $600.0.
Mary's mom has received $650.0.
Jane's mom has received $900.0.
["John's mom has received $390.0.", "Mike's mom has received $600.0.", "Mary's mom has received $650.0.", "Jane's mom has received $900.0."]

In [146]:
def compute_daily_cost(meat, vege, rice):
    # meat means the weekly purchase expense for meat
    daily = (meat + vege + rice) / 7
    return "My daily dining cost is HK$ " + str (daily) + "."
meat = 150
vege = 70
rice = 50
print((compute_daily_cost(meat, vege, rice)))

My daily dining cost is HK$ 38.57142857142857.

In [152]:
def compute_bill(x):
    total = 0
    for item in x:
        if inventory[item] > 0:
            total = total + prices[item]
            inventory[item] = inventory[item] - 1
            print (item,":",inventory[item])
    return total

purchase_list = ["ABC 2T HD", "MS wireless mouse", "TS Wireless keyboard"]
inventory = {
    "ABC 2T HD":60,
    "MS wireless mouse":0,
    "TS Wireless keyboard":32,
    "CC 500G USB Drive":25
}
prices = {
    "ABC 2T HD":800,
    "MS wireless mouse":200,
    "TS Wireless keyboard":120,
    "CC 500G USB Drive":450
}
print("total",compute_bill(purchase_list))

ABC 2T HD : 59
TS Wireless keyboard : 31
total 920

In [153]:
#assignment: write an algorithm containing looping and conditional operation